html 

head
 style
   include style.css

body 

include ./navbar.pug




form


        div.di1
        span.bb Email :
         input.form-ctn(type = "email", placeholder = "Your E-mail")
        div.di1
        span.bb Text1 :
            input.form-ctn(type = "text", placeholder = "Welcome to my first express app")
        div.di1
        span.bb Text2 :
            input.form-ctn(type = "text", placeholder = "Welcome back" )