html
head
 
 style
  include style.css

 body

div.lmt
    h1.clr2 Express checkpoint!
    p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
    hr
    p pug express router.
    p.clr click Here to contact us 
