html 
  head
    style
      include style.css
    

body

        ul.hello
            li.nav-links
                a(href = "/") Home
            li.nav-links
                a(href = "/services") Services
            li.nav-links
                a.hi(href = "/contact") Contact us

